<!-- Registration Form -->
<form [formGroup]="registerForm">
  <!-- Name -->
  <div class="mb-3">
    <label class="mb-2 inline-block">Name</label>
    <app-input [control]="this.name" placeholder="Enter Name"></app-input>
  </div>
  <!-- Email -->
  <div class="mb-3">
    <label class="mb-2 inline-block">Email</label>
    <app-input [control]="this.email" type="email" placeholder="Enter Email"></app-input>
    />
  </div>
  <!-- Age -->
  <div class="mb-3">
    <label class="mb-2 inline-block">Age</label>
    <app-input [control]="this.age" type="number" placeholder="Enter age"></app-input>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="mb-2 inline-block">Password</label>
    <input
      formControlName="password"
      type="password"
      class="block w-full rounded border border-gray-400 bg-transparent py-1.5 px-3 text-gray-200 transition duration-500 focus:border-indigo-400 focus:outline-none"
      placeholder="Password"
    />
  </div>
  <!-- Confirm Password -->
  <div class="mb-3">
    <label class="mb-2 inline-block">Confirm Password</label>
    <input
      formControlName="confirmPassword"
      type="password"
      class="block w-full rounded border border-gray-400 bg-transparent py-1.5 px-3 text-gray-200 transition duration-500 focus:border-indigo-400 focus:outline-none"
      placeholder="Confirm Password"
    />
  </div>
  <!-- Phone Number -->
  <div class="mb-3">
    <label class="mb-2 inline-block">Phone Number</label>
    <input
      formControlName="phoneNumber"
      type="text"
      class="block w-full rounded border border-gray-400 bg-transparent py-1.5 px-3 text-gray-200 transition duration-500 focus:border-indigo-400 focus:outline-none"
      placeholder="Enter Phone Number"
    />
  </div>
  <button
    type="submit"
    class="block w-full rounded bg-indigo-400 py-1.5 px-3 text-white transition hover:bg-indigo-500"
  >
    Submit
  </button>
</form>
