<!-- Login Form -->
<form>
  <!-- Email -->
  <div class="mb-3">
    <label class="mb-2 inline-block">Email</label>
    <input
      type="email" name="email" [(ngModel)]="credentials.email"
      class="block w-full rounded border border-gray-400 bg-transparent py-1.5 px-3 text-gray-200
      transition duration-500 focus:border-indigo-400 focus:outline-none"
      placeholder="Enter Email"
    />
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="mb-2 inline-block">Password</label>
    <input
      type="password" name="password" [(ngModel)]="credentials.password"
      class="block w-full rounded border border-gray-400 bg-transparent py-1.5 px-3 text-gray-200
      transition duration-500 focus:border-indigo-400 focus:outline-none"
      placeholder="Password"
    />
  </div>
  <button
    type="submit"
    class="block w-full rounded bg-indigo-400 py-1.5 px-3 text-white transition hover:bg-indigo-500"
  >
    Submit
  </button>
</form>
